@font-face {
  font-family: "Ubuntu-L";
  src: url(/fonts/Ubuntu-L.ttf) format('truetype');
}

@font-face {
  font-family: "Ubuntu-M";
  src: url(/fonts/Ubuntu-M.ttf) format('truetype');
}

html {
  --grey: #333333;
  --medium-grey: #666666;
  --light-grey: #f2f2f2;
  --blue: #006CD1;
  --orange: #ff6600;
  --light-orange: #ffe0cc;
  --light-yellow: #FFFFE0;
  --red: #ff0000;
  --green: #2f4f4f;
  --medium-green: #bfd9d9;
  --light-green: #eff5f5;
}

body {
	display: flex;
  flex-direction: column;
  background-color: var(--light-green);
  font-size: 120%;
  font-weight: normal;
  color: var(--grey);
  font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 1024px){
  body {
    font-size: 100%;
  }
}

header {
	display: flex;
  flex-direction: row;
  align-items: center;
	background-color: var(--green);
}

.header_logo {
  width: 3rem;
  margin-left: 3%;
	padding: 1% 0 1% 1%;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .header_logo {
		width: 2rem;
		margin-left: 0;
  }
}

nav {
  display: flex;
  flex-direction: column; /*Mobile First*/
  align-items: flex-end;
  flex-grow: 1;
  margin-right: 3%;
  padding: 1%;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  nav {
    flex-direction: row;
    align-items: stretch;
    flex-grow: 0;
		margin-left: 1%;
  }
}

.nav_link {
  color: white;
  text-decoration: none;
  margin-right: 1%;
  margin-bottom: 3%;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .nav_link {
    margin-right: 3%;
    margin-bottom: 0;
  }
}

.central {
	display: flex;
  flex-direction: column; /*Mobile First*/
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .central {
    flex-direction: row;
  }
}

main {
	/*background-color: lightpink;*/
  padding: 1%;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  main {
    width: 90%;
  }
}

aside {
  background-color: var(--medium-green);
  flex-grow: 1;
  padding: 1%;
}

aside > section {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  aside > section {
    margin-bottom: 3rem;
  }
}

.pdf {
  width: 5rem;
}

footer {
  background-color: var(--green);
  color: white;
  padding: 1%;
}

.email_address {
  color: white;
}

h1 {
	font-size: 150%;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  h1 {
    font-size: 180%;
  }
}


.home_image {
	max-width: 100%;
}

.fruit_image {
	max-width: 40%;
	float: left;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .fruit_image {
    max-width: 20%;
  }
}

h2 {
	font-size: 110%;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  h2 {
    font-size: 130%;
  }
}

h1,h2 {
  color: var(--blue);
}

.grey {
  color: var(--grey);
}

.blue {
  color: var(--blue);
}

.red {
  color: var(--red); 
}

.font_L {
  font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
}

.font_M {
  font-family: "Ubuntu-M", Helvetica, Arial, sans-serif;
}

audio,video {
  width: 100%;
}




